.accordion {
  /* margin: 5%; */
  /* margin-left: 50px; */
  background-color: #EE3158 !important;
  color: white;
  cursor: pointer;
  /* padding: 18px; */
  /* width: 100%; */
  /* border: none; */
  /* text-align: left; */
  /* outline: none; */
  font-size: 15px;
  transition: 0.4s;
  font-family: 'Open Sans', arial;
  height: auto;
}

.active,
.accordion:hover {
  /* background-color: #ccc; */
  cursor: pointer;

}

.accordion:after {
  content: '\25bc';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\25b2";
}

.panel {
  padding: 0 18px;
  background-color: white;
  /* max-height: 0; */
  /* overflow: hidden; */
  /* align-items: center; */

  transition: max-height 0.2s ease-out;
}

.panel2 {
  padding: 0 18px;
  background-color: white;
  margin: auto;
  width: 50%;
  /* border: 2px solid #EDEDED; */
  /* text-align: center; */
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-betweenynal;
  /* overflow: hidden; */
  /* display: flex; */
  /* flex-direction: row; */
}

.price {
  /* text-align: right; */
  table-layout: fixed;
  /* display:inline-block;
    vertical-align: text-bottom;  */
  /* float:right */
}

.shipping_select {
  margin: 3%;
  width: 80%;
  border: 2px solid #EDEDED;
  padding: 1%;
  text-align: center;
}

.invoicebuttons {
  text-align: end;
  margin: 2%;
  /* display: inline; */
}

.invoicebuttons button {

  background-color: #EE3158;
  font-family: 'Open Sans', arial;
  font-size: 15px;
  color: white;
  border: 1px solid #EDEDED;
  height: auto;
  padding: 1%;

}

table {
  /* background-color: #EE3158; */
  /* width: 100%; */
  border-collapse: collapse;
  /* table-layout: fixed; */
  /* table-layout: fixed; */
  width: 100% !important;
  /* position: absolute; */
}

.firstrow {
  /* background-color: #EE3158 !important; */
  color: white;
  opacity: 0.4;
}

.brand {
  vertical-align: middle
}

/* table, thead, tbody, th, td, tr { 
  display: block; 
} */
table td {
  word-wrap: break-word;
  border: 1px solid #EDEDED
}

tr {
  color: black;
}

tr:nth-of-type(odd) {
  background-color: #EE3158;
  color: white;
  opacity: 0.6;
}

.product-remove {
  vertical-align: text-top;
}

.table2 {
  width: 40% !important;
}

.table2 tr:nth-of-type(odd) {
  background-color: white;
}

.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
.labelled{
  margin-bottom: 10px;
  display: block;
}
.creditcard{
  display: flex;
  flex-wrap: wrap;
}
.item{
  /* flex: 0 50%; */
 
}
.creditcard>div {
  flex: 0 50%;
  /*demo*/
  
}
.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}